*{
    margin:0;
}

body{
    background-color: #080708;
    margin-top: 72px;
}
.section2{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:80px 0;
    width: 100%;
}
.section2>h1{
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #e9ecef;
}
.cards{
    display: flex;
    margin:48px 0;
}
.card{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width:350px;
    border-radius: 8px;
    background-color: #e9ecef;  
    padding:40px;   
    margin-right: 30px; 
    color: #495057;
}
.logo{
    height:72px;
}
header a{ 
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #e9ecef;;
    text-decoration: none;
    margin-right: 32px;
}
header{
    display:flex;
    justify-content: space-around;
    align-items:center;
    height: 72px;
    position: fixed;
    z-index:100;
    width: 100%;
    background-color: #212529;
    top:0;
}
.nav-list{
    list-style: none;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom:0;    

}
.main-nav{
    margin-top:36px;
}
input{
    width:700px;
    height:100px;
    font-size:20px;
    border-radius: 16px;
    display: block;
    margin: 30px;

}
#songs{
    width:200px;
    height:200px;
    position:relative;
    left:80px;
    border-radius: 16px;
}
p{
    color: #212529;

}
.text{
        display:flex;
        justify-content: center;
}
.void{
    width:80%;
    background-color: #e9ecef;
        display:flex;

                align-content:space-around;
        border-radius: 16px;
    height:700px
}
.article{
    font-size:30px;
    margin: 30px;;
}
.btn{
    position:absolute;
    background-color:#080708;
    color:#e9ecef;
    top:80vh;
}
.btn:active{
    background-color:#212529;
}
label{
    margin:30px;
    color:#e9ecef;
    font-size: 30px;
}
.reg{
    background-image: url(images/back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.link{
    text-decoration: none;
}
button{
    width:710px;
    height:100px;
    font-size:20px;
    border-radius: 16px;
    margin: 30px;
    color:black;
}